//背景图片
body{   
        // background:url(图片链接);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
}
//顶栏图片
.header {
          background:none repeat scroll !important;
}
//底栏背景色
.footer {
          background: #333 none repeat scroll !important;
}
//侧栏图片及内部文字颜色修改
#sidebar {
            // background:url(图片链接);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            // p,span,a {color: 颜色代码;}
}